@import url('https://fonts.googleapis.com/css?family=Lato|Markazi+Text:400,500,600,700&display=swap');

:root {
	font-size: 16px;
}

body {
	/* COLORS */

	/* TYPOGRAPHY */
	--heading-text: 'Markazi Text', serif;
	--body-text: 'Lato', sans-serif;
}

h1, h2, h3 {
	font-family: var(--heading-text);
}

p {
	font-family: var(--body-text);
	line-height: 1.5rem;
	margin-top: 1rem;
}